<md-card class="example-card">
   <md-card-header>
      <md-card-title><span class="title">Change Password</span></md-card-title>
   </md-card-header>
   <form class="form-horizontal" [formGroup]="changePasswordForm">
      <div class="form-group">
         <md-input-container style="width:100%" class="example-full-width">
            <input mdInput type="password" [class.error]="!changePasswordForm.get('oldPassword').valid" class="form-control input-lg" placeholder="Old password"
                   formControlName="oldPassword" required/>
         </md-input-container>       
         <span [hidden]="changePasswordForm.get('oldPassword').valid || (changePasswordForm.get('oldPassword').pristine && !submitted)"
               class="text-danger">
            Old password is required
         </span>
      </div>
      <div class="form-group">
         <md-input-container style="width:100%" class="example-full-width">
            <input mdInput type="password" [class.error]="!changePasswordForm.get('newPassword').valid" class="form-control input-lg" placeholder="New password"
                   formControlName="newPassword" required/>
         </md-input-container>    
         <span [hidden]="changePasswordForm.get('newPassword').valid || (changePasswordForm.get('newPassword').pristine && !submitted)"
               class="text-danger">
            New password is required
         </span>
      </div>
      <div class="form-group">
         <md-input-container style="width:100%" class="example-full-width">
            <input mdInput type="password" [class.error]="!changePasswordForm.get('confirmPassword').valid" class="form-control input-lg" placeholder="Confirm password"
                   formControlName="confirmPassword" required/>
         </md-input-container>           
         <span [hidden]="changePasswordForm.get('confirmPassword').valid || (changePasswordForm.get('confirmPassword').pristine && !submitted)"
               class="text-danger">
            Confirm password is required
         </span>
      </div>
      <md-card-actions style="margin-bottom: 0;padding-bottom: 0;">
         <button type="submit" md-button class="text-blue" (click)="changePassword()">UPDATE</button>
      </md-card-actions>
   </form>
</md-card>


