@import '../styles/_variables.scss';

:host /deep/ .primary-dark {
   background-color: $primary-dark !important;
}

:host /deep/ .primary {
   background-color: $primary !important;
}

:host /deep/ .accent {
   background-color: $accent !important;
}

:host /deep/ .light-blue {
   background-color: $light-blue-colour !important;
}

:host /deep/ .blue {
   background-color: $blue-colour !important;
}

:host /deep/ .text-primary {
   color: $primary !important;
}

:host /deep/ .text-accent {
   color: $accent !important;
}

:host /deep/ .text-blue {
   color: $blue-colour !important;
}

/* Scoll bar css - only works in Chrome */
:host /deep/ ::-webkit-scrollbar {
   width: 10px !important;
}

/* Track */
:host /deep/ ::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
}

/* Handle */
:host /deep/ ::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
   background: #BBBCBC !important;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important;
}

:host /deep/ ::-webkit-scrollbar-thumb:window-inactive {
   background: #CFD0D0 !important;
}

:host /deep/ .circle {
   width: 50px;
   height: 50px;
   border-radius: 25px;
   margin: 8px 0;
   display: inline-block;
}

:host /deep/ .mat-card {
   color: #616161 !important;
}

:host /deep/ .mat-card-actions {
   margin-left: -24px !important;
   margin-right: -24px !important;
   padding: 4px 0 4px 10px !important;
   border-top: 1px rgba(0, 0, 0, 0.12)solid !important;
   margin-bottom: -24px !important;
}

.container {
   padding: 20px 15px;
   min-height: calc(100vh - 150px);
}

@media (min-width: 1200px) {
   .container {
      width: 900px;
   }
}

@media (min-width: 768px) {
   :host /deep/ .pc-hide {
      display: none !important;
   }
}

@media (max-width: 769px) {
   :host /deep/ .phone-hide {
      display: none!important;
   }
}
