<div class="col-md-6 offset-md-3">
   <md-card class="example-card">
      <md-card-header>
         <md-card-title><span class="title">Register</span></md-card-title>
      </md-card-header>
      <form>
         <md-card-content>
            <table style="width:100%">
               <tr>
                  <td>
                     <md-input-container style="width:100%" class="example-full-width">
                        <input type="email" mdInput id="email" placeholder="Email" name="email" [(ngModel)]="registerModel.email" required>
                     </md-input-container>
                  </td>
               </tr>
               <tr>
                  <td>
                     <md-input-container style="width:100%" class="example-full-width">
                        <input mdInput id="firstname" placeholder="First name" name="firstname" [(ngModel)]="registerModel.firstname" required>
                     </md-input-container>
                  </td>
               </tr>
               <tr>
                  <td>
                     <md-input-container style="width:100%" class="example-full-width">
                        <input mdInput id="lastname" placeholder="Last name" name="lastname" [(ngModel)]="registerModel.lastname" required>
                     </md-input-container>
                  </td>
               </tr>
               <tr>
                  <td>
                     <md-input-container style="width:100%" class="example-full-width">
                        <input type="password" mdInput id="password" placeholder="Password" name="password" [(ngModel)]="registerModel.password" required>
                     </md-input-container>
                  </td>
               </tr>
               <tr>
                  <td>
                     <md-input-container style="width:100%" class="example-full-width">
                        <input type="password" mdInput id="confirmPassword" placeholder="Confirm password" name="confirmPassword" [(ngModel)]="registerModel.confirmPassword" required>
                     </md-input-container>
                  </td>
               </tr>
            </table>
         </md-card-content>
         <md-card-content *ngIf="errors.length > 0" style="color: red;">
            <span *ngFor="let error of errors">{{error}}</span>
         </md-card-content>
         <md-card-actions style="margin-bottom: 0;padding-bottom: 0;">
            <button type="submit" md-button class="text-blue" (click)="register()">REGISTER</button>
         </md-card-actions>
      </form>
   </md-card>
</div>