<div>
  
   <button md-button [mdMenuTriggerFor]="menu">Menu</button>
   <md-menu #menu="mdMenu">
      <button md-menu-item>Item 1</button>
      <button md-menu-item>Item 2</button>
   </md-menu>

   <form class="example-form">
      <md-input-container class="example-full-width">
         <input mdInput placeholder="Company (disabled)" disabled value="Google">
      </md-input-container>

      <table class="example-full-width" cellspacing="0">
         <tr>
            <td>
               <md-input-container class="example-full-width">
                  <input mdInput placeholder="First name">
               </md-input-container>
            </td>
            <td>
               <md-input-container class="example-full-width">
                  <input mdInput placeholder="Long Last Name That Will Be Truncated">
               </md-input-container>
            </td>
         </tr>
      </table>

      <p>
         <md-input-container class="example-full-width">
            <textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
         </md-input-container>
         <md-input-container class="example-full-width">
            <textarea mdInput placeholder="Address 2"></textarea>
         </md-input-container>
      </p>
      <table class="example-full-width" cellspacing="0">
         <tr>
            <td>
               <md-input-container class="example-full-width">
                  <input mdInput placeholder="City" required id="city" name="city" [(ngModel)]="city" > 
               </md-input-container>
            </td>
            <td>
               <md-input-container class="example-full-width">
                  <input type="password" mdInput placeholder="State">
               </md-input-container>
            </td>
            <td>
               <md-input-container class="example-full-width">
                  <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
                  <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
               </md-input-container>
            </td>
         </tr>
      </table>
   </form>

   <md-spinner></md-spinner>

   <md-card class="example-card">
      <md-card-header>
         <div md-card-avatar class="example-header-image"></div>
         <md-card-title>Shiba Inu</md-card-title>
         <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <md-card-content>
         <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
         </p>
      </md-card-content>
      <md-card-actions>
         <button md-button>LIKE</button>
         <button md-button>SHARE</button>
      </md-card-actions>
   </md-card>

   <div class="example-container">
      <h3>Normal Buttons</h3>
      <div class="button-row">
         <button md-button>Flat button</button>
         <button md-raised-button>Raised button</button>
         <button md-fab><md-icon>check</md-icon></button>
         <button md-mini-fab><md-icon>check</md-icon></button>
      </div>

      <h3>Raised Buttons</h3>
      <div class="button-row">
         <button md-button md-primary>Flat button</button>
         <button md-raised-button class="md-warn">Raised button</button>
         <button md-fab><md-icon>check</md-icon></button>
         <button md-mini-fab><md-icon>check</md-icon></button>
      </div>

      <h3>Link Buttons</h3>
      <div class="example-button-row">
         <a md-button routerLink=".">Flat button</a>
         <a md-raised-button routerLink=".">Raised button</a>
         <a md-fab routerLink="."><md-icon>check</md-icon></a>
         <a md-mini-fab routerLink="."><md-icon>check</md-icon></a>
      </div>
   </div>

   <md-card>
      <md-card-content>
         <h2 class="example-h2">Checkbox configuration</h2>

         <section class="example-section">
            <md-checkbox class="example-margin" >Checked</md-checkbox>
            <md-checkbox class="example-margin" >Indeterminate</md-checkbox>
         </section>

         <section class="example-section">
            <label class="example-margin">Align:</label>
            <md-radio-group >
               <md-radio-button class="example-margin" value="start">Start</md-radio-button>
               <md-radio-button class="example-margin" value="end">End</md-radio-button>
            </md-radio-group>
         </section>

         <section class="example-section">
            <md-checkbox class="example-margin" >Disabled</md-checkbox>
         </section>
      </md-card-content>
   </md-card>

   <md-card class="result">
      <md-card-content>
         <h2 class="example-h2">Result</h2>

         <section class="example-section">
            <md-checkbox class="example-margin">
               I'm a checkbox
            </md-checkbox>
         </section>
      </md-card-content>
   </md-card>

   <button md-button (click)="openDialog()">Launch dialog</button>

   <md-list>
      <h3 md-subheader>Folders</h3>
      <md-list-item *ngFor="let folder of folders">
         <md-icon md-list-icon>folder</md-icon>
         <h4 md-line>{{folder.name}}</h4>
         <p md-line> {{folder.updated | date}} </p>
      </md-list-item>
      <md-divider></md-divider>
      <h3 md-subheader>Notes</h3>
      <md-list-item *ngFor="let note of notes">
         <md-icon md-list-icon>note</md-icon>
         <h4 md-line>{{note.name}}</h4>
         <p md-line> {{note.updated | date}} </p>
      </md-list-item>
   </md-list>

   <md-tab-group>
      <md-tab label="Tab 1"></md-tab>
      <md-tab label="Tab 2"></md-tab>
   </md-tab-group>

   <md-chip-list>
      <md-chip>One fish</md-chip>
      <md-chip>Two fish</md-chip>
      <md-chip color="primary" selected="true">Primary fish</md-chip>
      <md-chip color="accent" selected="true">Accent fish</md-chip>
   </md-chip-list>

   <md-input-container>
      <input mdInput placeholder="Favorite food" value="Sushi">
   </md-input-container>

   <md-grid-list cols="4" rowHeight="100px">
      <md-grid-tile *ngFor="let tile of tiles"
                    [colspan]="tile.cols"
                    [rowspan]="tile.rows"
                    [style.background]="tile.color">
         {{tile.text}}
      </md-grid-tile>
   </md-grid-list>

   <md-button-toggle-group #group="mdButtonToggleGroup">
      <md-button-toggle value="left">
         <md-icon>format_align_left</md-icon>
      </md-button-toggle>
      <md-button-toggle value="center">
         <md-icon>format_align_center</md-icon>
      </md-button-toggle>
      <md-button-toggle value="right">
         <md-icon>format_align_right</md-icon>
      </md-button-toggle>
      <md-button-toggle value="justify" disabled>
         <md-icon>format_align_justify</md-icon>
      </md-button-toggle>
   </md-button-toggle-group>
   <div class="example-selected-value">Selected value: </div>

   <md-slide-toggle color="primary">
      Default Slide Toggle
   </md-slide-toggle>

   <table class="example-full-width" cellspacing="0">
      <tr>
         <td>
            <md-input-container class="example-full-width">
               <input mdInput placeholder="First name">
            </md-input-container>
         </td>
         <td>
            <md-input-container class="example-full-width">
               <input mdInput placeholder="Long Last Name That Will Be Truncated">
            </md-input-container>
         </td>
      </tr>
   </table>
</div>