.tech-panel{
   margin-bottom: 20px;
   padding: 0;
}

md-card-header {
   display: inline-block;
   width: 100%;
}

md-card-title{
   position: relative;
   margin-bottom: 10px;
}

.title {
   position: absolute;
   top: 17px;
   left: 60px;
   font-size: 24px;
}

.mat-card-actions {
   margin-left: -24px !important;
   margin-right: -24px !important;
   padding: 4px 0 !important;
   border-top: 1px rgba(0, 0, 0, 0.12)solid !important;
   margin-bottom: -24px!important;
}

.description {
   color: rgba(0,0,0,.54);
   font-style: italic;
}