md-toolbar {
   padding: 0;
}

.title {
   font-family: "Roboto","Helvetica","Arial",sans-serif;
   font-weight: 400;
   font-size: 34px;
   color: white;
   position: absolute;
   left: 40px;
   top: 80px;
}

:host /deep/ .mat-tab-label {
   height: 64px !important;
   line-height: 64px !important;
   min-width: 140px!important;
}

:host /deep/ .mat-ink-bar {
   background-color: white !important;
   height: 4px!important;
}

.account-fab {
   position: absolute;
   right: 45px;
   top: 228px;
   z-index: 1;
}
